body {font-family: Roboto, sans-serif;
    background: #FFFFFF;
    color: #757575;
} 
:root { --logo-color: #2196F3;
    --title-color:#212121;
    --title-sektion-color: #2F303A;
    --adress-color: #FFFFFF;
--logo-font: Raleway , sans-serif;


}
.description {
    list-style: none;
}
.link { text-decoration: none;
} 
.link { color: inherit;
}

.menu-item:hover,
.menu-item:focus { color: var(--logo-color);
}


/* heder */
.lin {color: var(--logo-color);}
.logo-web { font-family: var(--logo-font);
    font-weight: 700d;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);    
  }
  .logo-studio {font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.nav-link {font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.header-link {font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-link:focus,
.header-link:hover:{ color:var(--logo-color) ;} 


/*title section*/
.nav-lin {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var (--logo-color);
}

.nav-link:focus,
.nav-link:hover {
    color:var(--logo-color) ;
}
.title-section{ background: var(--title-sektion-color);
}

.title-list { 
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--adress-color);
}
.button { font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    }
    .button:hover,
    .button:focus { color:var (--adress-color);
        background-color: #188CE8;
    }    
/*title section*/


/*information section*/
.title-portfolio
{font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);

}
.nav-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.nav-button:hover,
.nav-button:focus {
    color: var( --adress-color);
    background: var(--logo-color);
 }

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.text {font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}
.team {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}  
.signature { 
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.categories{ font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.team-section { background: #F5F4FA;

}
/*information section*/

/* footer */
.adress { font-style: normal;
}
.contact-details{ background: var(--title-sektion-color); 
}
.log-studio{
    color:var(--adress-color);
    font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}


.menu-list-footer {  font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.google-adres { color: var( --adress-color);

}
.conakt-adres { color: rgba(255, 255, 255, 0.6);

}
.menu-list-footer:hover
.menu-list-footer:focus{ color: var(--logo-color); 
}
/* footer */