body {font-family: Roboto, sans-serif;
    background: #FFFFFF;
    color: #757575;
} 
 




.description {
    list-style: none;
}
.link { text-decoration: none;
}

.menu-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.team {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.logo-web { font-family: Raleway, sans-serif;
    font-weight: 700d;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;    
  }
  .logo-studio {font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
 .menu-list:hover,
 .menu-list:focus { color:#2196F3 ;
}




.button { font-family: inherit
font-weight: 700;
font-size: 16px;
line-height: 1.87;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #188CE8;
}


.button:hover,
.button:focus { color:#FFFFFF;
    background-color: #188CE8;